/* Override default button styling */
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 100%;
  font-family: inherit;
}

button:focus {
  outline: none;
}

.sort-button {
  padding: 0 0.4em;
  opacity: 0.8;
  color: white;
  transition: 0.5s;
}

.sort-button:hover {
  opacity: 1;
}

.submit-button {
  background-color: var(--primary);
  color: white;
  padding: 0.75em 1.25em;
  border-radius: 1.5em;
  opacity: 0.8;
  margin: 0.5em 0;
  width: 100%;
  transition: 0.5s;
}

.submit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.delete-button {
  font-size: 1.2em;
  color: var(--warning);
  transition: 0.2s;
}

.delete-button:hover {
  transform: scale(1.2);
}
