/* Override default label and input styling */
label,
input {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
}

.form-container {
  width: 80%;
  margin: 1em auto;
  padding: 1.5em;
  border: thin solid var(--grey);
  border-radius: 0.5em;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 8px 0px;
}

.form-group {
  width: 100%;
}

.form-label {
  width: 100%;
}

.form-input {
  width: 100%;
  border: thin solid var(--grey);
  border-radius: 0.5em;
  padding: 0.5em;
  line-height: 1.5;
  margin: 0.5em 0;
  transition: 0.5s;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary);
}
