.table-container {
  overflow: auto;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 8px 0px;
}

.table th,
.table td {
  padding: 0.5em;
  border: thin solid var(--grey);
}

.table th {
  background-color: var(--primary);
  color: white;
}

.table tr:nth-child(even) {
  background-color: var(--lightgrey);
}

.table tr:hover {
  background-color: var(--grey);
}

.table td:last-child {
  text-align: center;
}
