html {
  --primary: #01b3bf;
  --warning: #db6262;
  --grey: #e0e0e0;
  --lightgrey: #f2f2f2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 90%;
  }

  .form-container {
    width: 60%;
  }

  .table-headers {
    display: flex;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
  }

  .form-container {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 70%;
  }

  .form-container {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 60%;
  }

  .form-container {
    width: 30%;
  }
}
